In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import math
from statsmodels.stats import diagnostic
import statsmodels.stats as st
from scipy import stats
from itertools import combinations
import networkx as nx
import statsmodels.api as sm
import statsmodels.formula.api as smf
from sklearn.linear_model import LinearRegression, LogisticRegression, Ridge
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder
from pandas.plotting import scatter_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_val_score
from sklearn.metrics import mean_squared_error, auc, roc_curve
import missingno as msno
import ast
from collections import Counter
import statsmodels.regression.recursive_ls as rls
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from pyvis.network import Network
from director_scrap import director_scrap
import pickle

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
df_movie = pd.read_pickle("data/df_movie.pkl")
df_pairs = pd.read_pickle("data/df_pairs.pkl")
display(df_movie.sample(2))
display(df_pairs.sample(2))

,Movie_name,Movie_release,Movie_revenue,Movie_runtime,Movie_languages,Movie_countries,Main_genre,Sec_Genre,Movie_rating,Producer,...,Actor_name,Actor_age_release,Inflation Factor for 2023,2023 valued revenue,Avg_revenue_per_film_at_release,Longevity,Number_of_film_at_release,Avg_rating_per_film_at_release,First_film,Actor_main_genre
395866,The Crew,2000.0,13019253.0,87.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Crime Fiction,Action/Adventure,5.6,Barry Josephson,...,Dan Hedaya,59.0,1.79,23304462.87,62852386.25,18.0,32,6.37931,False,Thriller
441027,Zapped!,1982.0,16897768.0,98.0,"{""/m/02h40lc"": ""English Language""}","{""/m/09c7w0"": ""United States of America""}",Parody,Sex comedy,4.9,Jeff Apple,...,Curt Ayers,NaN,3.19,53903879.92,16897768.00,0.0,1,4.90000,True,Parody

,Movie_name,Movie_release,Actor_pairs,Movie_revenue,Movie_rating,Actor1,Actor2,Age_difference,Film_count_difference,Average_revenue_difference,First_film,First_film_for_one,Number_of_films_together,Same_genre,Genre
337297,Scream 2,1997.0,"(Joshua Jackson, Neve Campbell)",172363301.0,6.3,Joshua Jackson,Neve Campbell,5.0,2,99784695.75,False,False,0,True,Thriller
354211,Sling Blade,1996.0,"(Jim Jarmusch, Sarah Boss)",34175000.0,8.0,Jim Jarmusch,Sarah Boss,22.0,1,16449500.50,False,True,0,False,None

### RQ3 :